$primary: #B5179E;
$secondary: #7209B7;
$additional: #560BAD;

$darkPrimaryBg: #0a2134;
$darkSecondaryBg: #243042;

$shadowLight: rgba(255, 255, 255, 0.15);
$shadowDark: rgba(0, 0, 0, 0.15);
$shadowBackground: rgba(0, 0, 0, 0.25);

$lightGreyColor: rgba(237, 241, 247, 0.8);
$darkGreyColor: rgba(237, 241, 247, 0.15);

$purple1: #F72585;
$purple2: #B5179E;
$purple3: #7209B7;
$purple4: #560BAD;
$purple5: #480CA8;

$blue1: #4CC9F0;
$blue2: #4895EF;
$blue3: #4361EE;
$blue4: #3F37C9;
$blue5: #3A0CA3;

$gray1: #e2e9f3;
$gray2: #b7c3d5;
$gray3: #a0b2cd;

$errorFlag: #fc5a5a;
$warningFlag: #ff974a;
$successFlag: #3dd598;
