$primary: #7873f5;
$secondary: #5c57ec;
$additional: #c6c4ff;

$darkPrimaryBg: #0a2134;
$darkSecondaryBg: #243042;

$shadowLight: rgba(255, 255, 255, 0.15);
$shadowDark: rgba(0, 0, 0, 0.15);
$shadowBackground: rgba(0, 0, 0, 0.25);

$lightGreyColor: rgba(237, 241, 247, 0.8);
$darkGreyColor: rgba(237, 241, 247, 0.15);

$white: #fff;
$black: #000;

$purple1: #7873f5;
$purple2: #9591fe;
$purple3: #5c57ec;
$purple4: #560bad;

$blue1: #4cc9f0;
$blue2: #4895ef;
$blue3: #4361ee;
$blue4: #3f37c9;

$gray1: #e2e9f3;
$gray2: #d8e2f2;
$gray3: #b7c3d5;
$gray4: #a0b2cd;

$darkTableDivider: #3d495f;

$errorFlag: #fc5a5a;
$warningFlag: #ff974a;
$successFlag: #3dd598;
