$primary: #b5179e;
$secondary: #7209b7;
$additional: #560bad;

$darkPrimaryBg: #0a2134;
$darkSecondaryBg: #243042;

$shadowLight: rgba(255, 255, 255, 0.15);
$shadowDark: rgba(0, 0, 0, 0.15);
$shadowBackground: rgba(0, 0, 0, 0.25);

$lightGreyColor: rgba(237, 241, 247, 0.8);
$darkGreyColor: rgba(237, 241, 247, 0.15);

$purple1: #f72585;
$purple2: #b5179e;
$purple3: #7209b7;
$purple4: #560bad;
$purple5: #480ca8;

$blue1: #4cc9f0;
$blue2: #4895ef;
$blue3: #4361ee;
$blue4: #3f37c9;
$blue5: #3a0ca3;

$gray1: #e2e9f3;
$gray2: #d8e2f2;
$gray3: #b7c3d5;
$gray4: #a0b2cd;

$darkTableDivider: #3d495f;

$errorFlag: #fc5a5a;
$warningFlag: #ff974a;
$successFlag: #3dd598;
