.field {
  width: 200px;
}

.line {
  height: 1px;
  background-color: var(--table-divider);
}

.handlersWrapper {
  max-height: 450px;
  padding-inline-end: 5px;
}

.treeSelectItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
