@mixin light-theme {
  --color-primary: #{$primary};
  --color-primary-active: #{$primary};

  --color-text: #{black};

  --color-btn-default-text: #{$primary};
  --color-btn-default-border: #{$primary};
  --color-primary-hover: #{$secondary};
  --color-field-shadow: #{$additional};
  --color-input-focus: #{$additional};
  --dark-theme-secondary-bg: #{$darkSecondaryBg};
  
  --color-bg: #{$gray2};

  --header-background: #{$gray1};
  --header-border-color: #{$gray4};
}
