@mixin light-theme {
  --color-primary: #{$primary};
  --color-primary-active: #{$secondary};

  --color-text: #{$black};

  --color-btn-default-text: #{$primary};
  --color-btn-default-border: #{$primary};
  --color-primary-hover: #{$secondary};
  --color-field-shadow: #{$additional};
  --color-input-focus: #{$primary};
  --dark-theme-secondary-bg: #{$darkSecondaryBg};

  --table-divider: #{$gray4};
  --table-head-border: #{$blue1};

  --color-bg: #{$gray1};

  --shadow-color: #{$blue1};
  --panel-background: #{$gray2};

  --link-color: #{$white};
  --link-hover-color: #{$lightGreyColor};

  --header-background: #{$blue4};
  --header-border-color: #{$primary};
  --header-color: #{$white};
}
