@import './styles/colors.scss';
@import './styles/themes/theme.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './styles/vendor/antd.scss';

html,
body,
#root {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100%;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
