@import './styles/colors.scss';
@import './styles/themes/theme.scss';


html,
body,
#root {
  background-color: var(--color-bg);
  height: 100%;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
}