.header {
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  width: 180px;
}

.navigation {
  width: 80%;
}

.features {
  width: 10%;
  justify-content: right;
}

.link {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color);
  }
}
